.form {
	display: flex;
	flex-direction: column;
	align-items: center;
    float: left;
}

input {
    margin-top: 2%;
}

.buttons {
    padding-top: 3%;
    display: flex;
    width: 180px;
    justify-content: space-between;
}